:root {
  --backdrop: hsl(0, 12%, 94%);
}

html {
  background: white;
  padding: 0.5vw 10px 0.5vw 10px;
}

body {
  background: var(--backdrop);
  border-radius: 1%;
}

#main {
  margin: 1vw 5% 1vw 5%;

  color: rgb(59, 52, 52);
  font-family: sans-serif;
  text-align: center;
}

#title {
  padding: 0.5vw;
}

h1 {
  font-size: 45px;
  border-radius: 3%;
}

#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-div {
  background: white;
  padding: 3%;
  border-radius: 1%;
}

#tribute-info ul {
  max-width: 700px;
  margin: 0 auto 5vw auto;
  text-align: left;
  line-height: 1.6;
}

#tribute-info ul li {
  margin: 1vw 0 0 0;
}

h3 {
  padding-top: 5vw;
  font-size: 20px;
}

footer {
  margin: 1vw 3% 1vw 3%;
  font-weight: bold;
  font-size: 20px;
  font-size-adjust: initial;
  padding-bottom: 2vw;
}

a {
  color: rgb(99, 99, 250);
}

blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}
